.property-info {
    font-family: 'Open Sans', 'Arial', sans-serif;
  }
  
  h2 {
    font-weight: normal;
    margin-bottom: 16px;
  }
  
  h2 .major {
    display: block;
    font-size: 30px;
  }
  
  h2 .minor {
    font-size: 15px;
    font-style: italic;
    vertical-align: middle;
  }
  
  h2 .minor .bar {
    padding: 0 4px;
  }
  
  .property-info p {
    margin: 4px 0; 
  }
  