* {
    font-family: 'Lato', sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
}

.card {
    margin: 5mm 5mm 5mm 5mm
}
.card a {
    text-decoration: none;
    color: black;
}
.content-wrapper {
    padding: 5vh;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* For Tablet and above */
@media (min-width: 600px) {
    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; /* Adjust as per need */
    }
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    /* Add any other styling you need for your cards */
}


.banner-image {
    height: 400px;
    width: 100%;
    display: block;
    background-image: url('../assets/banner-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* This line ensures the image does not duplicate */
    margin-bottom: 20px;
}



