* {
    font-family: 'Lato', sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
}

.card {
    margin: 5mm 5mm 5mm 5mm
}
.card a {
    text-decoration: none;
    color: black;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.card {
     /*darker shaddow below the card */
    box-shadow: 2px 4px 5px 0 rgba(0,0,0,0.2);
    margin: 20px;
    transition: 0.4s;
    width: 300px;
    border-radius: 5px;
    
    
}


.banner-image {
    height: 400px;
    width: 100%;
    display: block;
    background-image: url('../assets/banner-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}



